# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [1]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2. Using while loop print numbers 1 to 10

In [3]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

### 3. Using for loop print first ten even numbers

In [6]:
i <= 1

while i <= 10:
    print(i)
    i+=1

9
10

### 4. Using while loop generate the table of 5

In [20]:
i = 1

while i < 5:
    print(i)
    i+=1

1
2
3
4

### 5. Using for loop generate the table of 8

In [22]:
i = 1

while i <= 8:
    print(i)
    i+=1

1
2
3
4
5
6
7
8

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

In [32]:
for i in range(1,10):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
else:
    print(i)

Fizz
Buzz
Fizz
Fizz
9

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [ ]:
for i in range (1,100):
    total = sum(range(1,i+1))
    print(f"Sum of numbers from 1 to {1} is {total}")

Sum of numbers from 1 to 1 is 1
Sum of numbers from 1 to 1 is 3
Sum of numbers from 1 to 1 is 6
Sum of numbers from 1 to 1 is 10
Sum of numbers from 1 to 1 is 15
Sum of numbers from 1 to 1 is 21
Sum of numbers from 1 to 1 is 28
Sum of numbers from 1 to 1 is 36
Sum of numbers from 1 to 1 is 45
Sum of numbers from 1 to 1 is 55
Sum of numbers from 1 to 1 is 66
Sum of numbers from 1 to 1 is 78
Sum of numbers from 1 to 1 is 91
Sum of numbers from 1 to 1 is 105
Sum of numbers from 1 to 1 is 120
Sum of numbers from 1 to 1 is 136
Sum of numbers from 1 to 1 is 153
Sum of numbers from 1 to 1 is 171
Sum of numbers from 1 to 1 is 190
Sum of numbers from 1 to 1 is 210
Sum of numbers from 1 to 1 is 231
Sum of numbers from 1 to 1 is 253
Sum of numbers from 1 to 1 is 276
Sum of numbers from 1 to 1 is 300
Sum of numbers from 1 to 1 is 325
Sum of numbers from 1 to 1 is 351
Sum of numbers from 1 to 1 is 378
Sum of numbers from 1 to 1 is 406
Sum of numbers from 1 to 1 is 435
Sum of numbers from 1 to 1 is 465
Sum of numbers from 1 to 1 is 496
Sum of numbers from 1 to 1 is 528
Sum of numbers from 1 to 1 is 561
Sum of numbers from 1 to 1 is 595
Sum of numbers from 1 to 1 is 630
Sum of numbers from 1 to 1 is 666
Sum of numbers from 1 to 1 is 703
Sum of numbers from 1 to 1 is 741
Sum of numbers from 1 to 1 is 780
Sum of numbers from 1 to 1 is 820
Sum of numbers from 1 to 1 is 861
Sum of numbers from 1 to 1 is 903
Sum of numbers from 1 to 1 is 946
Sum of numbers from 1 to 1 is 990
Sum of numbers from 1 to 1 is 1035
Sum of numbers from 1 to 1 is 1081
Sum of numbers from 1 to 1 is 1128
Sum of numbers from 1 to 1 is 1176
Sum of numbers from 1 to 1 is 1225
Sum of numbers from 1 to 1 is 1275
Sum of numbers from 1 to 1 is 1326
Sum of numbers from 1 to 1 is 1378
Sum of numbers from 1 to 1 is 1431
Sum of numbers from 1 to 1 is 1485
Sum of numbers from 1 to 1 is 1540
Sum of numbers from 1 to 1 is 1596
Sum of numbers from 1 to 1 is 1653
Sum of numbers from 1 to 1 is 1711
Sum of numbers from 1 to 1 is 1770
Sum of numbers from 1 to 1 is 1830
Sum of numbers from 1 to 1 is 1891
Sum of numbers from 1 to 1 is 1953
Sum of numbers from 1 to 1 is 2016
Sum of numbers from 1 to 1 is 2080
Sum of numbers from 1 to 1 is 2145
Sum of numbers from 1 to 1 is 2211
Sum of numbers from 1 to 1 is 2278
Sum of numbers from 1 to 1 is 2346
Sum of numbers from 1 to 1 is 2415
Sum of numbers from 1 to 1 is 2485
Sum of numbers from 1 to 1 is 2556
Sum of numbers from 1 to 1 is 2628
Sum of numbers from 1 to 1 is 2701
Sum of numbers from 1 to 1 is 2775
Sum of numbers from 1 to 1 is 2850
Sum of numbers from 1 to 1 is 2926
Sum of numbers from 1 to 1 is 3003
Sum of numbers from 1 to 1 is 3081
Sum of numbers from 1 to 1 is 3160
Sum of numbers from 1 to 1 is 3240
Sum of numbers from 1 to 1 is 3321
Sum of numbers from 1 to 1 is 3403
Sum of numbers from 1 to 1 is 3486
Sum of numbers from 1 to 1 is 3570
Sum of numbers from 1 to 1 is 3655
Sum of numbers from 1 to 1 is 3741
Sum of numbers from 1 to 1 is 3828
Sum of numbers from 1 to 1 is 3916
Sum of numbers from 1 to 1 is 4005
Sum of numbers from 1 to 1 is 4095
Sum of numbers from 1 to 1 is 4186
Sum of numbers from 1 to 1 is 4278
Sum of numbers from 1 to 1 is 4371
Sum of numbers from 1 to 1 is 4465
Sum of numbers from 1 to 1 is 4560
Sum of numbers from 1 to 1 is 4656
Sum of numbers from 1 to 1 is 4753
Sum of numbers from 1 to 1 is 4851
Sum of numbers from 1 to 1 is 4950

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [46]:
for i in range(202, 320):
    if i % 7 == 0 and i * 5 !=0:
       print(i)

203
210
217
224
231
238
245
252
259
266
273
280
287
294
301
308
315

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [52]:
# for i in range(5):
#     print("Data Science")

st = "Data Science"
vowels = "aeiouAEIOU"
count = 0

for char in st:
    if char in vowels:
        count += 1

print("Number of vowels =", count)

Number of vowels = 5

### 10. Print Data Science 5 times using for loop

In [53]:
for i in range(5):
    print("Data science")

Data science
Data science
Data science
Data science
Data science