# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [1]:
a = 10
b = 5.1
add = a + b 
print(add)

15.1

### 2. Is 5 == (3+2)?

In [ ]:
num = (3+2)

if num == 5:
    print("True")

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [7]:
a = 3
b = 33
add = a + b
print(add)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [ ]:
a = 3

if type(a) == float:
    print("True")
else:
    print("False")
# a = 3
# print(type(a))

False

### 5. What will be 5 times *a* if the value of a is 10?

In [18]:
a = 10
result = 5 * a
print(result)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [14]:
base = 10
height = 5 
areoftriangle = 1/2 * base * height
print(areoftriangle)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If 

v = 10

w = 25

x = 70

y = 2

In [ ]:
v = 10
w = 25
x = 70
y = 2
z = (v+w) * (x/y)
print(z)

1225.0

### 8. Swap values of *a* and *b* 
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [ ]:
a = int(input("Enter value of a: "))
b = int(input("Enter value of b: "))

print("Before swapping:")
print("a =", 10)
print("b =", 5)

a, b = b, a
print("After swapping:")
print("a =", 5)
print("b =", 10)

Before swapping:
a = 10
b = 5
After swapping:
a = 5
b = 10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [17]:
celsius = 35
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Temperature in Fahrenheit: 95.0