In [ ]:
year_codes = [{2103:30000},{2103:40000},{2103:50000},{2103:60000},{4001:60000},{3002:60000},{4001:60000},{4001:60000}]
year_codes

[{2103: 30000},
 {2103: 40000},
 {2103: 50000},
 {2103: 60000},
 {4001: 60000},
 {3002: 60000},
 {4001: 60000},
 {4001: 60000}]

In [26]:
import pandas as pd

df = pd.DataFrame(year_codes)
df.describe()

               2103     4001     3002
count      4.000000      3.0      1.0
mean   45000.000000  60000.0  60000.0
std    12909.944487      0.0      NaN
min    30000.000000  60000.0  60000.0
25%    37500.000000  60000.0  60000.0
50%    45000.000000  60000.0  60000.0
75%    52500.000000  60000.0  60000.0
max    60000.000000  60000.0  60000.0

In [1]:
a = 10
b = 3.14
c = a + b

name = "Alice"
is_active = True
numbers = [1, 2, 3]

variables = {
    "a": a,
    "b": b,
    "c": c,
    "name": name,
    "is_active": is_active,
    "numbers": numbers
}

for var_name, value in variables.items():
    print(f"{var_name} = {value} (тип: {type(value).__name__})")

a = 10 (тип: int)
b = 3.14 (тип: float)
c = 13.14 (тип: float)
name = Alice (тип: str)
is_active = True (тип: bool)
numbers = [1, 2, 3] (тип: list)